{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<style>   
img { max-width: 100%}
</style>
{% endblock %}
{% block body -%}
<h1>{{ artist }}</h1>
<div class="row">
{% for img in works %}
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
<div class="thumbnail">
<a href="{{ img.path | imagine_filter('full') }}"><img src="{{ img.path | imagine_filter('miniature') }}" alt="{{ img.filename }}">
</div>
<div class="legend">{{ title_asset(img.filename, 25) }}</div></a>
</div>
{% endfor %}

</div>
{% endblock %}