{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<style>   

/* from: https://github.com/xieranmaya/blog/issues/6 */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid::after {
  content: '';
  flex-grow: 1e4;
  min-width: 20%;
}

.work {
  margin: 10px;
  position: relative;
}

.didascalia {
  display: block;
  font-size: 11px;
  color: #999;
  font-style: italic;
}
.didascalia p {
  padding-top: 5px;
  margin: 0;
}
img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}
</style>
{% endblock %}
{% block body -%}
<h1>{{ artist }}</h1>
<div class="row grid {{ short_name_asset(artist) }}">
{% set globalHeight = 150 %}
{% for img in works %}
{% set originalHeight = height_asset(img.filename) %}
{% set originalWidth = width_asset(img.filename) %}
{% set width = originalWidth*globalHeight/originalHeight %}
<div style="width:{{ width }}px;flex-grow:{{ width }}" class="work">
    <a href="{{ img.path | imagine_filter('full') }}"><img src="{{ img.path | imagine_filter('miniature') }}" alt=""></a>
    <div class="didascalia" style="padding-top:{{ globalHeight/width*100}}%">
    <p>{{ title_asset(img.filename, width/6.5) }}</p>
    </div>
</div>
{% endfor %}

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}

