{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<style>   
body { 
    background-color: #d4b2c9;
    padding: 20px;
}
img { 
    width: 100%
}
.thumbnail {
    border: 3px solid #e4c2d9
}
.grid-item {
}
.legend { 
    margin-bottom:30px; 
    font-size: 0.8em;
    background-color: #e4c2d9;
    border: 3px solid #e4c2d9
}
.grid-item a { 
    color: #888;
}
</style>
{% endblock %}
{% block body -%}
<h1>{{ artist }}</h1>
<div class="row grid {{ short_name_asset(artist) }}">
<div class="col-6 col-sm-4 col-md-3 col-lg-2 grid-sizer"></div>
{% for img in works %}
<div class="col-6 col-sm-4 col-md-3 col-lg-2 grid-item">
<div class="thumbnail">
<a href="{{ img.path | imagine_filter('full') }}"><img src="{{ img.path | imagine_filter('miniature') }}" alt="{{ img.filename }}">
</div>
<div class="legend invisible">{{ title_asset(img.filename, 25) }}</div></a>
</div>
{% endfor %}

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script>
var $grid = $('.grid').masonry({
  columnWidth: '.grid-sizer',
  itemSelector: '.grid-item',
  percentPosition: true,
  gutter: 0
});
$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});
$grid.one( 'layoutComplete', function() {
  $('.legend').removeClass('invisible');
});
</script>
{% endblock %}

